body {
  width: 1000px;
  margin: 50px auto;
}

button {
  padding: 10px;
  background: #eee;
  color: #000;
  border: 0;
  margin-right: 10px;
}

.button-1 {
  background: red;
}

.button-2 {
  background: blue;
}

.button-3 {
  background: green;
}